<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="by.a_ogurtsov.AutoTaxes">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_app_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true">
        <activity
                android:name="by.a_ogurtsov.AutoTaxes.ActivityMain"
                android:theme="@style/AppThemeWaterDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ActivityKindOfAuto"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightLegkAuto"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightGruzAuto"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightBus"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightPricep"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityKindOfAutoUS"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightGruzAutoUs"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityEngineBusUs"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightDumpTruckUs"
                android:theme="@style/AppThemeWaterDialog"></activity>
        <activity
                android:name=".ActivityWeightPricepUs"
                android:theme="@style/AppThemeWaterDialog"></activity>

    </application>

</manifest>