<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.a_ogurtsov.AutoTaxes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_round"
        android:label="@string/titleDorSbor">

        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWater"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityKindOfAuto"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightLegkAuto"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightLegkAutoFiz"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightLegkAutoYur"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightGruzAuto"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightBus"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightPricep"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityKindOfAutoUS"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightLegkAutoUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightGruzAutoUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityEngineBusUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightDumpTruckUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".ActivityWeightPricepUs"
            android:theme="@style/AppThemeWaterDialog" />
    </application>

</manifest>