<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.a_ogurtsov.AutoTaxes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_round"
        android:label="@string/labelIconName">
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWater"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dorSbor.ActivityKindOfAuto"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".dorSbor.ActivityWeightLegkAutoFiz"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".dorSbor.ActivityWeightLegkAutoYur"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".dorSbor.ActivityWeightGruzAuto"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".dorSbor.ActivityWeightBus"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".dorSbor.ActivityWeightPricep"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityKindOfAutoUS"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityWeightLegkAutoUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityWeightGruzAutoUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityEngineBusUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityWeightDumpTruckUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".utilSbor.ActivityWeightPricepUs"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.location.ActivityStrahovkaLocation"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.ActivityStrahovkaAutoKind"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaLegkCarDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaElectroDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaLegkPricepDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaGruzCarDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaTractorDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaGruzPricepDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaMotoDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.autoKind.details.ActivityStrahovkaBusDetails"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.vozrastStazh.ActivityStrahovkaVozrastStazh"
            android:theme="@style/AppThemeWaterDialog" />
        <activity
            android:name=".strahovka.term.ActivityStrahovkaTerm"
            android:theme="@style/AppThemeWaterDialog" />
    </application>

</manifest>